
    <div class="alert alert-success in fade">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @TempData ["MassegeSuccess"]
    </div>
   
<div>
    <p>
        
      کلمه عبور با موفقیت تغییر کرد  : @Html.ActionLink( "ورود به سایت" ,
                                                        "Login" ,
                                                        "Account" ,
                                                        routeValues : null ,
                                                        htmlAttributes : new { id = "loginLink" } )
    </p>
</div>
